{% extends 'base.html.twig' %}

{% block title %}Morent | Calendar
{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="admin">

		{% include "admin_sidebar.html.twig" %}
		<div class="app"></div>
	</div>


{% endblock %}

