{% extends 'base.html.twig' %}

{% block title %}Morent | Notifications{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

  <div class="container">
      <div class="notifications text-center">
          <p>No notifications.</p>
      </div>
  </div>

{% include "footer.html.twig" %}
<script>

	addEventListener("load", function () {
    document.getElementById("loader").style.display = "none";
  });

  const eventSource = new EventSource("{{ mercure('https://example.com/my-private-topic')|escape('js') }}");

  eventSource.onmessage = event => {
    console.log(JSON.parse(event.data));
  }

</script>

{% endblock %}
