{% extends 'base.html.twig' %}

{% block title %}Morent | Admin{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
  <div class="admin">
    {% include "admin_sidebar.html.twig" %}

    <div class="app">
        <div class="container">
          <div class="row">

            <div class="col-lg-6">

              <div class="details-rent">
                <h3>Details Rental</h3>
                <div class="maps">
                  <img src="/images/Maps.png" alt="">
                </div>
                <div class="car-rent">
                  <div class="last-car">
                    <div class="row">
                      
                      <div class="col-lg-3">
                        <img src="/images/car.png" alt="">
                      </div>
                      
                      <div class="col-lg-7">
                        <div class="car-name">
                          <h3>Nissan GT - R</h3>
                          <span>Sport Car</span>
                        </div>
                      </div>
                      
                      <div class="col-lg-2">
                        <span>
                          #9761
                        </span>
                      </div>

                    </div>
                  </div>
                <div class="total-price">
                  <div class="row">
                    <div class="col-lg-9">
                      <h3>Total Rental Price</h3>
                      <p>Overall price and includes rental discount</p>
                    </div>
                    <div class="col-lg-3">
                        <div class="price">
                          <h3>$80.00</h3>
                        </div>
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="top-car-rental">
                <h3>Top 5 Car Rental</h3>
                <div class="chart-container">
                  {{ render_chart(chart) }}
                </div>
              </div>

              <div class="recent-transaction">
                <div class="title d-flex justify-content-between">
                  <h3>Recent Transaction</h3>
                  <a href="#">View all</a>
                </div>
                <div class="transactions">
                  <div class="transaction-item">
                    <div class="row">
                      <div class="col-lg-2">
                        <img src="/images/Car1.png" alt="">
                      </div>
                      <div class="col-lg-8">
                        <div class="car-name">
                          <h3>Nissan GT - R</h3>
                          <span>Sport</span>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="date-price">
                          <span>20 July</span>
                          <h3>$80.00</h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="transaction-item">
                    <div class="row">
                      <div class="col-lg-2">
                        <img src="/images/Car1.png" alt="">
                      </div>
                      <div class="col-lg-8">
                        <div class="car-name">
                          <h3>Nissan GT - R</h3>
                          <span>Sport</span>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="date-price">
                          <span>20 July</span>
                          <h3>$80.00</h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="transaction-item">
                    <div class="row">
                      <div class="col-lg-2">
                        <img src="/images/Car1.png" alt="">
                      </div>
                      <div class="col-lg-8">
                        <div class="car-name">
                          <h3>Nissan GT - R</h3>
                          <span>Sport</span>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="date-price">
                          <span>20 July</span>
                          <h3>$80.00</h3>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="transaction-item">
                    <div class="row">
                      <div class="col-lg-2">
                        <img src="/images/Car1.png" alt="">
                      </div>
                      <div class="col-lg-8">
                        <div class="car-name">
                          <h3>Nissan GT - R</h3>
                          <span>Sport</span>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="date-price">
                          <span>20 July</span>
                          <h3>$80.00</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

            </div>

          </div>
        </div>
    </div>

  </div>

{% endblock %}
