{% extends 'base.html.twig' %}

{% block title %}Morent | Login
{% endblock %}

{% block body %}
	{% include 'navbar.html.twig' %}
	<div class="login-form">
		<form method="post">

			<h1>Please sign in</h1>

			{% if error %}
				<div class="alert alert-danger">Inavalid email/password.</div>
			{% endif %}


			<div class="mb-3">
				<label for="username">Email</label>
				<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Enter your email">
			</div>

			<div class="mb-3">
				<label for="password">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Enter your password">
			</div>


			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="mb-3">
				<div class="checkbox d-flex">
					<input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input">
					<label for="_remember_me">Remember me</label>
				</div>
			</div>

			<div class="mb-3">
				<button type="submit">Sign in</button>
			</div>

			<div class="signin mb-3">
				Didn't have an account ? <a href="{{path("app_register")}}">Sign up</a>
			</div>

		</form>
	</div>

	{% include 'footer.html.twig' %}

{% endblock %}

