{% extends 'base.html.twig' %}

{% block title %}Insight {% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
	<div class="admin">
		{% include "admin_sidebar.html.twig" %}
		<div class="app">
			<div class="container-fluid">
				<div class="stats">
					<div class="row">
						<div class="col-lg-4">
							<div class="stat-item">
								<div class="d-flex align-items-center">
									<div class="icon">
										<i class="fi fi-rr-sack-dollar"></i>
									</div>
									<div class="stat">
										<h3>${{revenue}}</h3>
										<span>Total Revenue</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="stat-item">
								<div class="d-flex align-items-center">
									<div class="icon">
										<i class="fi fi-rr-rent"></i>
									</div>
									<div class="stat">
										<h3>{{rents}}</h3>
										<span>Total Rents</span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="stat-item">
								<div class="d-flex align-items-center">
									<div class="icon">
										<i class="fi fi-rr-car"></i>
									</div>
									<div class="stat">
										<h3>{{cars}}</h3>
										<span>Total Cars</span>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-lg-8">
							<div class="chart">
								<h3>Last 7 Days</h3>
								{{ render_chart(chart) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

