.admin {
  display: flex;

  .app {
    width: 75%;
    margin-top: 20px;
    margin-left: 30px;

    .details-rent {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;

      h3 {
        font-weight: 700;
        font-size: 14px;
      }

      span {
        font-size: 12px;
        color: #596780;
        font-weight: 600;
      }

      .maps {
        img {
          width: 100%;
        }
      }

      .car-rent {
        margin: 20px 0;

        .last-car {
          margin: 35px 0;

          .car-name {
            h3 {
              font-weight: 800;
              font-size: 20px;
              margin: 0;
            }

            span {
              font-size: 12px;
              color: #596780;
              font-weight: 500;
            }
          }


          img {
            width: 100%;
          }
        }

        img {
          width: 100%;
        }
      }
    }




    .total-price {
      h3 {
        font-size: 20px;
        margin: 0;
        font-weight: 800;
      }

      p {
        color: #90A3BF;
        font-size: 12px;
      }

      .price {
        h3 {
          font-weight: 800;
          font-size: 26px;
        }
      }
    }

    .top-car-rental {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 10px;

      h3 {
        font-weight: 700;
        font-size: 14px;
      }

      .chart-container {
        width: 350px;
        height: 350px;
      }
    }

    .recent-transaction {
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;

      .title {
        h3 {
          font-weight: 700;
          font-size: 14px;
        }

        a {
          text-decoration: none;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .transactions {
        .transaction-item {
          margin: 15px 0;
          padding: 20px 0;

          &:not(:last-child) {
            border-bottom: 1px solid #e9e0f9;
          }

          &:last-child {
            padding-bottom: 0;
          }

          img {
            width: 100%;
          }
        }

        .date-price {
          h3 {
            font-size: 14px;
            font-weight: 700;
          }

          span {
            font-size: 12px;
            display: inline-block;
            margin-bottom: 10px;
            color: #90A3BF;
          }
        }

        .car-name {
          h3 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0;
          }

          span {
            font-size: 12px;
            color: #90A3BF;
          }
        }

      }
    }
  }
}

.option-menu {
  position: relative;

  .menu-collapse {
    cursor: pointer;
  }

  .menu-dropdown {
    position: absolute;
    flex-direction: column;
    z-index: 555;
    top: 40px;
    left: -100px;
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    border-radius: 5px;

    a {
      text-decoration: none;
      color: #000;
      font-size: 14px;

      i {
        margin-right: 10px;
      }
    }

    &.active {
      display: flex;
    }

    .edit,
    .delete {
      cursor: pointer;
      padding: 10px 50px 10px 10px;
      transition: .3s;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

.link-button {
  background-color: #3563E9;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: inline-block;
}

table {
  td {
    padding: 20px;
  }
}