.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #E0E9F4;

  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 0;
    z-index: 55;
  }

  .navbar-brand {
    a {
      color: #3563E9;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .settings {
    display: flex;

    .user {
      position: relative;

      .user-dropdown {
        &.active {
          display: block;
        }

        display:none;
        position: absolute;
        background-color: #fff;
        padding: 0px 50px 10px 15px;
        left: -90px;
        top: 50px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;

        a {
          border: none;
          color: #596780;
          text-decoration: none;
          font-size: 16px;
          display: inline-block;

          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }

    .notification {
      position: relative;

      a::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FF4423;
        top: 0;
        right: 11px;
        display: inline-block;
      }
    }

    .navbar-item {
      text-decoration: none;
      margin-right: 10px;
      width: 35px;
      height: 35px;
      border: 1px solid #E0E9F4;
      padding: 15px;
      border-radius: 50%;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #596780;
        font-size: 14px;
      }
    }
  }

  .search-bar {
    position: relative;

    .car-search {
      z-index: 100;
      position: absolute;
      width: 100%;
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      top: 50px;
      padding: 20px;
      display: none;

      .car-item {
        padding: 10px 0;

        img {
          width: 100%;
        }

        h3 {
          font-size: 16px;
          font-weight: 600;
        }

        a {
          text-decoration: none;
          color: #000;
          font-size: 16px;
          display: block;
          font-weight: 600;
        }
      }
    }

    input {
      outline: none;
      padding: 10px 30px;
      border-radius: 50px;
      border: none;
      border: 1px solid #E0E9F4;
      width: 450px;
      padding-left: 60px;
    }

    .fi-rs-search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      font-size: 18px;
      color: #596780;
    }

    .fi-rs-settings-sliders {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      font-size: 18px;
      color: #596780;
      cursor: pointer;
    }
  }
}