<div class="sidebar">
	<div class="side-item">
		<span>Main Menu</span>
		<ul>
			<li class="active">
				<a href="{{path("app_admin")}}">
					<i class="fi fi-rr-house-blank"></i>Dashboard</a>
			</li>
			<li>
				<a href="#">
					<i class="fi fi-rr-car-side"></i>Car Rent</a>
			</li>
			<li>
				<a href="#">
					<i class="fi fi-rr-stats"></i>Insight</a>
			</li>
			<li>
				<a href="#">
					<i class="fi fi-ts-refund-alt"></i>Reimburse</a>
			</li>
			<li>
				<a href="#">
					<i class="fi fi-tr-comment-alt-dots"></i>Inbox</a>
			</li>
			<li>
				<a href="#">
					<i class="fi fi-tr-calendar-days"></i>Calendar</a>
			</li>
		</ul>
	</div>
	<div class="side-item">
		<span>Preferences</span>
		<ul>
			<li><a href="#"><i class="fi fi-tc-settings"></i>Settings</a></li>
			<li><a href="#"><i class="fi fi-rr-info"></i>Help Center</a></li>
			<li><a href="#"><i class="fi fi-ts-dark-mode-alt"></i>Dark Mode</a></li>
		</ul>
	</div>

	<div class="side-item">
		<ul>
			<li><ahref="{{path("app_logout")}}"><i class="fi fi-tr-sign-out-alt"></i>Log Out</a></li>
		</ul>
	</div>
</div>
