<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-straight/css/uicons-thin-straight.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-chubby/css/uicons-thin-chubby.css'>



        <title>Morent | {% block title %}{% endblock %}</title>
        {% block stylesheets %}

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="loader">
            <div class="load">M</div>
        </div>
        {% block body %}{% endblock %}
        {% block globalscripts %}{% endblock %}
    </body>


<script>
    addEventListener("load", function(){
       document.getElementById("loader").style.display = "none";
    });
</script>
</html>
