<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-straight/css/uicons-thin-straight.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-chubby/css/uicons-thin-chubby.css'>



        <title>Morent | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

            {% block importmap %}{{ importmap('app') }}{% endblock %}


        {% endblock %}
    </head>
    <body>
        <div id="loader">
            <div class="load">M</div>
        </div>
        {% block body %}{% endblock %}
        {% block globalscripts %}{% endblock %}
        <div class="notification-alert">
            
        </div>
    </body>


    <script>
        addEventListener("load", function(){
            document.getElementById("loader").style.display = "none";
        });
    
        {# const eventSource = new EventSource("{{ mercure('https://example.com/my-private-topic')|escape('js') }}");
	
        eventSource.onmessage = event => {
	        let data = JSON.parse(event.data);
            let div = document.createElement("div");
            let notifAlert = document.querySelector(".notification-alert");
            div.innerText = data.message;
            div.classList.add("notification-message");
            notifAlert.appendChild(div);
            notifAlert.style.right = "30px";
            setTimeout(function(){
                div.remove();
                notifAlert.style.right = "-300px";
            }, 5000);
    	} #}

    </script>    

</html>
