<div class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a href="{{path("app_index")}}">Morent</a>
		</div>
		<div class="search-bar">
			<input type="text" placeholder="Search something else"/>
			<i class="fi fi-rs-search"></i>
			<i class="fi fi-rs-settings-sliders"></i>
		</div>
		<div class="settings">
			<div class="favorite">
				<a href="#">
					<i class="fi fi-sr-heart"></i>
				</a>
			</div>
			<div class="notification">
				<a href="#">
					<i class="fi fi-sr-bell"></i>
				</a>
			</div>
			<div class="setting">
				<a href="#">
					<i class="fi fi-sr-settings"></i>
				</a>
			</div>
			<div class="user">
				<a href="{{path("app_login")}}">
					<i class="fi fi-sr-user"></i>
				</a>
			</div>
		</div>
	</div>
</div>
