<div class="user-navbar">
  
  <div class="container">
    <div class="d-flex justify-content-evenly">
      <div class="tab active">
        <a href="#">Account</a>
      </div>
      <div class="tab">
        <a href="#"> Payment History</a>
      </div>
      <div class="tab">
        <a href="#">Bookings</a>
      </div>
    </div>
  </div>
</div>