{% extends 'base.html.twig' %}

{% block title %}Pay{% endblock %}

{% block body %}


<button id="checkout-button">Pay Now</button>

<script src="https://js.stripe.com/v3/"></script>
<script>
	const stripe = Stripe("{{ env('STRIPE_PUBLIC_KEY') }}");

document.getElementById('checkout-button').addEventListener('click', () => {
fetch("{{ path('create_checkout_session') }}", {method: "POST"}).then(response => response.json()).then(data => {
if (data.error) {
alert(data.error);
return;
}
stripe.redirectToCheckout({sessionId: data.id});
}).catch(error => console.error('Error:', error));
});
</script>


{% endblock %}
